#projects {
    background-color: black;
    height: 660px;

}

.project p {
    text-align: justify;
    color: white;

}

.project .heading {
    font-size: 22px;
    border-bottom: 2px solid yellowgreen;
}