header {
    height: 100vh;
    padding-top: 2rem;
}

.header_container {
    text-align: center;
    height: 100%;
    overflow: hidden;
}
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}